* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: #333;
  background: #f8f9fa;
}

.produk-top {
  background: linear-gradient(#00000099, #00000099),
    url("../images/resto3.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
  padding: 50px;
  font-weight: bold;
}

.produk-top h1 {
  font-size: 5em;
  margin-bottom: 12px;
  animation: fadeInDown 1s ease forwards;
}

.breadcrumb {
  padding: 1rem;
  margin-top: 12px;
  margin-left: 12px;
  font-size: 1rem;
}

.breadcrumb a {
  color: #f39c12;
  text-decoration: none;
}

body {
  overflow-x: hidden;
}

.dropdown-menu .dropdown-item.active,
.dropdown-menu .dropdown-item:active {
  background-color: #333;
  color: #fff;
}

.produk-card {
  transition: transform 0.2s;
}

.produk-card:hover {
  transform: translateY(-5px);
}

.produk-card {
  padding: 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.img-produk {
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

@media (min-width: 768px) {
  .row.produk-wrapper {
    padding: 0 30px;
  }
}

/* Animations */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}